@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';


@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-white  pb-10 pt-28 max-md:pb-32 overflow-x-hidden;
  }

  .admin-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-white;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  .Underline{
    @apply after:content-[''] font-medium after:h-[2px] relative after:absolute after:w-0 after:hover:w-full after:transition-all  after:bg-black after:bottom-0 after:left-[50%] after:translate-x-[-50%];
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-primary-experimental;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-experimental text-[12px] text-light-1 hover:bg-transparent !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen min-w-fit flex-col justify-between overflow-auto border-r text-black border-r-muted-normal pb-5 pt-5 max-lg:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-l-lg py-2 pr-24 max-w-[250px] max-lg:pr-3 max-lg:rounded-lg;
  }

  .active_svg {
    @apply stroke-white;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }

  /* вва */

  .burger-button {
    @apply  after:rotate-45 before:top-0 after:z-50 before:z-50 after:top-0 before:-rotate-45 bg-transparent  !important;
  }

  .burger-lines{
    @apply transition-all after:duration-200 before:duration-200 lg:hidden h-[3px] w-8 bg-black relative after:content-[''] after:bg-black after:w-8 after:h-[3px] after:top-2 after:absolute flex before:content-[''] before:bg-black before:w-8 before:h-[3px] before:bottom-2  before:absolute;
  }

  .bg-burger{
    @apply bg-white z-[999]   w-[100%] h-0 absolute left-0 top-28 text-center px-10 text-[20px] font-[550] overflow-x-hidden transition-all duration-700;
  }

  .bg-burger-active{
    @apply h-full pt-16;
  }

  .gradient-1{
    background: rgb(29,39,55);
    background: -moz-linear-gradient(60deg, rgba(29,39,55,1) 0%, rgba(17,25,38,1) 100%);
    background: -webkit-linear-gradient(60deg, rgba(29,39,55,1) 0%, rgba(17,25,38,1) 100%);
    background: linear-gradient(60deg, rgba(29,39,55,1) 0%, rgba(17,25,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2737",endColorstr="#111926",GradientType=1);
  }

  .glassmorphism-1 {
    background: rgba( 17, 16, 16, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@layer utilities {


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }

  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  body {
    transition-property: opacity, background, transform, filter;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms; 
    overflow-x:hidden;
    overflow-y:hidden;
    -webkit-appearance:none;
  }
  
  .page-transition {
    overflow: hidden;
    opacity: 0;
    background: #000000;
    transform: translateY(40px);
    filter: blur(12px);
  }

  .page-transition-right {
    overflow: hidden;
    opacity: 0;
    background: #000000;
    transform: translateX(-100px);
    filter: blur(12px);
  }

  .page-transition-left {
    overflow: hidden;
    opacity: 0;
    background: #000000;
    transform: translateX(200px);
    filter: blur(12px);
  }

  .shadow-extrasmall {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
  }

  .edit-image:hover:nth-child(2) {
    opacity: 1
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#e6a831] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-experimental hover:bg-transparent border-2 border-solid border-primary-experimental px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}


body{
  overflow: overlay;
  scrollbar-gutter: stable both-edges; /* Стабільність скролу та видимі краї з обох сторін */
  scroll-behavior: smooth; /* Плавна прокрутка */
}

.intro p{
  font-size: 30px;
  margin-bottom: 20px;
  color:rgb(26, 25, 25);
  font-weight: normal;
}

h1{
  font-weight: 500;
  font-size:80px;
  line-height: 90px;
  
}

.intro div{
  position: absolute;
  left: 100px;
  top:300px
}

.menuShadow{
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
}





.embla {
  max-width: 36rem;
  --slide-height: 573px;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

@media (max-width: 1440px) {
  .embla {
    --slide-height: 520px;
  
  }
}

@media (max-width: 1340px) {
  .embla {
    --slide-height: 473px;
  
  }
}


@media (max-width: 1240px) {
  .embla {
    --slide-height: 420px;
  
  }
}

@media (max-width: 1080px) {
  .embla {
    --slide-height: 373px;
  
  }
}


@media (min-width: 1024px) {
  .embla {
    margin: auto;
    max-width: 40rem;
  }
}

@media (max-width: 500px) {
  .embla {
    --slide-height: 273px;
  
  }
}

@media (max-width: 380px) {
  .embla {
    --slide-height: 220px;
  }
}


.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  max-height: 573px;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  margin-top: var(--thumbs-slide-spacing);
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 1024px) {
  .embla__slide__number {
    justify-items: start;
    align-items: start;
  }
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

@media (max-width: 396px) {
  .embla-thumbs__slide {
    flex: 0 0 35%;
  }
}

::-webkit-scrollbar {
  width: 7px; /* Ширина скрола */
  height: 7px; /* Висота скрола для горизонтального скролу */
}

::-webkit-scrollbar-track {
  display: none;
  background: #ffffff10; /* Колір треку (фону) */
  border-radius: 6px;
  margin: 3px;
}

::-webkit-scrollbar-thumb {
  background: black; /* Колір повзунка */
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; /* Колір повзунка при наведенні */
  
}


/* Стилізація для Firefox */

/* * {
  scrollbar-width: thin; Тонкий скрол
  scrollbar-color: black #fff; Колір повзунка та треку відповідно  
} */

.admin-panel-scrollbar::-webkit-scrollbar {
  width: 7px;

}

.admin-panel-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 0px;
  border-left: 3px solid #ffffff;
  transition-duration: 1s;
}

.admin-panel-scrollbar::-webkit-scrollbar-track {
  background: #ffffff50;
}



/* Додаткові стилі для країв та плавності прокрутки */

  
.embla-thumbs__slide__number {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}


.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}
.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
